/* CSS Code goes here */

.navbar .navbar-brand, .nav-link,
.title_filters, .nav-link:hover,
.nav-link:focus, .card-body{
    color: #333333;
}
p {
    margin-bottom: 0.5rem;
}
.no-underline {
    text-decoration: none;
    color: unset;
}
.account{
    text-decoration: none;
}
.start-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    color: #fff;
}

.start-text{
    padding: 1rem;
}

.get-started{
    margin: auto;
    color: #fff;
    width: fit-content;
    padding-bottom: 1rem;
}
.get-started button{
    color: #fff;
    border-color: #fff;
}

.navbar{
    padding-bottom: 10%;
}
.navbar-items-list{
    justify-content: end;
}

.btn{
    background: none;
    color: #333333;
}
.reset-btn{
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}
.btn:hover{
    background-color: #333333;
    border: #333333;
    color: #fff;
}

.log-in{
    background: none;
    color: #333333;
}



.dashboard{
    height: 100vh;
    width: 100vw;
    background-image: url('../Images/background_dashboard.jpg');
    background-size: cover;
    background-position: center;
    position: relative; /* Establish positioning context */
}
.dashboard-SP{
    height: 80vh;
    background-image: url('../Images/background_dashboard.jpg');
    background-size: cover;
    background-position: center;
    position: relative; /* Establish positioning context */
}

.custom-input {
    border: none; /* Remove all borders */
    border-bottom: 1px solid #ccc; /* Add only a bottom border */
    border-radius: 0;
    outline: none; /* Remove default focus outline */
}

/* Optional: Change color of the bottom border on focus */
.custom-input:focus {
    border-bottom-color: #007bff; /* Change color to blue (Bootstrap primary color) on focus */
}


.modal-footer {
    border: none;
}
.create-account{
    font-size:12px;
    border-top: 1px solid #ccc;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card-title{
    cursor: pointer;
}

.card-text{
    font-size: 1.2rem;
}
.card-text-subtitle{
    font-size: 0.9rem;
}
.card {
    width: 95%;
    margin: 0 1rem 1rem 1rem;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.vertical-card {
    display: none;
}
.horizontal-card{
    display: flex;
    align-items: center;
    flex-direction: column;
}
@media (min-width: 1200px) {
    .vertical-card {
        display: block;
    }

}


.select2-container .select2-selection--single{
    height: 35px;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    justify-content: space-between;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    position: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select2-container{
    margin-bottom: 0.5rem;
}

.contact-box{
    border: solid 1px #52525290;
    border-radius: 5px;
}

.contact-message{
    padding-bottom:6rem;
}

.pagination {
    justify-content: center;
}

.page-item.page-link {
    color: #007bff;
}

.page-item.active.page-link {
    background-color: #007bff;
    border-color: #007bff;
}

.pagination {
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.form-control{
    font-size: 0.9rem
}

.page-item.page-link {
    color: #007bff;
}

.page-item.active.page-link {
    background-color: #007bff;
    border-color: #007bff;
}


.footer{
    background-color: #333333;
    color: #fff;
    font-size: small;
}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    z-index: 5;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
}


body.no-scroll {
    overflow: hidden;
}

.menu-btn.open {
    position: fixed;
    right: 1rem;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
}

.filters-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.filtering-box.open-filters{
    height: 308px;
    opacity: 1;
}
.side-menu.open {
    right: 0;
    opacity: 1;
}
.menu-btn {
    display: block;
    position: fixed;
    right: 1rem;
    z-index: 9;
}
.menu-btn img {
    max-width: 30px;
}
.menu-btn-filter{
    justify-content: center;
    display: flex;
    z-index: 7;
}
.side-menu {
    padding: 4rem 0.5rem 0 1rem;
    width: max-content;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    background: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.6s ease-in-out, opacity 0.6s ease-in-out;
    opacity: 0;
    z-index: 8;
}
.side-menu ul li{
    justify-content: end;
    display: flex;
}

.nav-link{
    background-color: unset;
    color: #333;
}
.nav-link:hover, .nav-link:focus{
    text-decoration: underline;
    transition: text-decoration 0.8s ease-in-out;
    background-color: unset;
    color: #333;
}
.filtering-box {
    opacity: 0;
    height: 0;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

h6{
    font-size:15px;
}


.select2-container .select2-selection--single .select2-selection__rendered{
    padding-right: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b{
    left: unset;
    margin-left: 0;
    position: unset;
    display: flex;
    justify-content: start;
    align-items: start;
}
}

.title_filters{
    margin-bottom: 0.5rem;
}

.cards-container{
    display: flex;
}

.contact-apartment label{
    display: flex;
}

.search{
    margin-bottom: 1rem;
}
@media (min-width: 992px) {
    .select2-container{
        margin-bottom: 0;
    }
    .search{
        margin-bottom: 0;
    }
    .reset-btn{
        margin-bottom: 0;
    }
    .menu-btn, .menu-btn-filter {
        display: none;
        padding-left: 25px;
        font-size: 30px;
        cursor: pointer;
        z-index: 10;
    }
    .filtering-box {
        opacity: 1;
        padding: 0 2rem 1rem 2rem;
        flex-direction: row;
        align-items: center;
        padding-bottom: 2rem;
    }
    .title_filters{
        font-size: 20px;
    }
    .filters-header{
        margin-bottom: 1.5rem;
    }

}
@media (min-width: 344px) {
    .log-in{
        margin: 0;
    }
}
@media (min-width: 576px) {
    .container, .container-sm {
        max-width: unset;
    }
}

@media (min-width: 768px) {
    .log-in{
        margin: 0 0 0 0.5rem;
    }
    .navbar-items-list{
        display: absolute;
        position: fix;
    }
    .menu-btn {
        display: none;
    }
    .filtering-box {
        justify-content: space-between;
    }
    .navbar-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .side-menu {
        padding: 0;
        width: unset;
        position: unset;
        background: unset;
        box-shadow: none;
        transition: none;
        opacity: 1;
    }
}

@media (min-width: 992px) {
    font-size: medium;
}
@media (min-width: 1200px) {
    .contact-btn{
        display:none;
    }
}