<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>User List</h1>
<!-- You can include the JSON data directly in a script tag -->
<script th:inline="javascript">
    /*<![CDATA[*/
    // Access the JSON data from the model
    var jsonUsersCredentials = /*[[${userCredentials}]]*/ '';

    // Parse the JSON string to JavaScript object
    var users = JSON.parse(jsonUsersCredentials);

    // Iterate over users and display them as needed
    for (var i = 0; i < users.length; i++) {
        var user = users[i];
        document.write("<p>ID: " + user.id + ",  Username: " + user.username + ",  Password: " + user.password + "</p>");
        console.log(user.username);
        // Add other users as needed
    }
    /*]]>*/
</script>
</body>
</html>