<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Property List</title>
</head>
<body>
<h1>Property List</h1>
<!-- You can include the JSON data directly in a script tag -->
<script th:inline="javascript">
  /*<![CDATA[*/
  // Access the JSON data from the model
  var jsonProperties = /*[[${jsonProperties}]]*/ '';

  // Parse the JSON string to JavaScript object
  var properties = JSON.parse(jsonProperties);

  // Iterate over properties and display them as needed
  for (var i = 0; i < properties.length; i++) {
    var property = properties[i];
    document.write("<p>ID: " + property.id + ", Address: " + property.address + ", City: " + property.city + ", ZIP Code: " + property.zipCode + ", Country: " + property.country + "</p>");
    // Add other properties as needed
  }
  /*]]>*/
</script>
</body>
</html>
